@mixin inter($weight: 400) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@mixin roboto($weight: 400) {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin noto-serif-display($weight: 400) {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin body-text {
  @include roboto(300);
  font-size: clamp(1rem, 0.8vw + 0.5rem, calc(17 / 16 * 1rem));
  line-height: 1.6;
}

@mixin section-title {
  @include noto-serif-display(300);
  font-size: clamp(2rem, calc(3vw + 0.25rem), 3.75rem);
  line-height: 1.1;
  text-transform: uppercase;
}

@mixin heading-2 {
  @include noto-serif-display(300);
  font-size: clamp(1.75rem, 2.25vw + 0.5rem, 3rem);
  line-height: 1.3;
  letter-spacing: -0.04em;
}

@mixin heading-3 {
  @include noto-serif-display(300);
  font-size: clamp(1.5rem, calc(1.5vw + 0.25rem), 2rem);
  line-height: 1.4;
  letter-spacing: -0.02em;
}
